
.symptom {
	background: #ddf;
	width: 400px;
	margin: 10px;
	border: 2px solid #888;
	border-radius: 2px;
	padding: 5px;
}

.symptom>div {
	display: inline-block;
}

#symptomsubmitform {
	line-height: 2.5em;
}

#symptomsubmitform input[type="number"] {
	width: 60px;
	
}

.addSymptom + .symptom {
	background: #fdd;
}

#content {
	height: 600px;
	overflow: scroll;
}