<!doctype html>
<html>
	<head>
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="serializeObject.js"></script>
		<script type="text/javascript" src="spin.min.js"></script>
		<script type="text/javascript" src="jquery.parse.js"></script>
		<script type="text/javascript" src="parse-1.1.13.js"></script>
		<link rel="stylesheet" href="symptom.css" />
		<link rel="stylesheet" href="http://css.cdn.tl/normalize.css" />
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.2/moment.min.js"></script>
	</head>
	<body>
		<div id="header">
			HypoApp
		</div>
		<div id="content">
			
		</div>
		<div id="footer">
			<button>About</button>
			<button>Settings</button>
		</div>
	</body>
	<script type="template" id="symptom-template">
		<div class="symptom">
			<div class="severity"><%= severity %></div>
			<div class="unit"><%= category.unit %>,</div>
			<div class="duration">for <%= moment.duration(duration*1000).humanize() %></div>
			<div class="time">at <%= moment(createdAt).format("HH:mm") %></div>
			<div class="date">on <%= moment(createdAt).format("YYYY-MM-DD") %></div>
		</div>
	</script>
	<script type="template" id="addSymptom-template">
		<h3><%= name %></h3>
		<form id="symptomsubmitform">
			<input type="hidden" name="category" value="<%= objectId %>"/>
			<label for="date">Date: </label><input type="date" name="date"/><br/>
			<label for="severity">Severity: </label><input type="number" name="severity" 
			min="<%= rangeMin %>" 
			max="<%= rangeMax %>" 
			step="<%= stepSize %>"/> <%= unit %><br/>
			<label>Duration: </label>
				<input type="number" name="hours" value="0" min="0" required> hh
				<input type="number" name="minutes" value="0" min="0" required> mm
				<input type="number" name="seconds" value="0" min="0" required> ss<br/>
			<label for="comment">Comment: </label><input type="text" name="comment">
			<input type="submit">
		</form>
		<div id="symptoms">
		</div>
	</script>

	<script type="template" id="addCategory-template">
		<h3>Add New symptom category</h3>
		<form id="categorysubmitform">
			<label>Symptom name: </label><input type="text" name="name"><br/>
			<label>Unit: </label><input type="text" name="unit"><br/>
			<label>Range Min value: </label><input type="number" step="any" name="rangeMin"><br/>
			<label>Range Max value: </label><input type="number" step="any" name="rangeMax"><br/>
			<label>Unit step value: </label><input type="number" step="any" name="stepSize"><br/>
			<input type="submit">
		</form>
		<div id="categories">
		</div>
	</script>

	<script type="template" id="symptomList-template">
		<div>
			<ul>
	<%			_.each(categories,function(category){ %>
					<li>
						<a href="#addSymptom/<%= category.name %>">
							<%= category.name %>
						</a>
					</li>
	<%			}); %>
			</ul>
		</div>
		<div>
			<a href="#addCategory">Add New symptom category</a>
		</div>
	</script>

	<script type="text/javascript" src="app.js"></script>
</html>