
.symptom {
	background: #ddf;
	width: 250px;
	margin: 10px;
	border: 2px solid #888;
	border-radius: 2px;
	padding: 5px;
}

h3 + .symptom {
	background: #fdd;
}

.symptom>div {
	display: inline-block;
}

#symptomsubmitform {
	line-height: 2.5em;
	-webkit-user-select: none;
}

#symptomsubmitform input[type="number"] {
	width: 60px;
}

#symptomsubmitform input[type="date"]{
	width: 90px;
}

#symptomsubmitform input[type="time"] {
	width: 75px;
}

#symptomsubmitform input[type="range"] {
	width: 100%;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #fefefe),
		color-stop(0.49, #dddddd),
		color-stop(0.51, #d1d1d1),
		color-stop(1, #a1a1a1)
	);
	background-repeat: no-repeat;
	background-position: 50%;
}

/* The first div of class "symptom" after a div of class "addSymptom" */
/* is displayed with a different background color than the rest */

#content {
	overflow: scroll;
}