<div>
	<h3>About HypochondriApp</h3>
	<p>
		Design and engineering by Jennifer Frankel.
	</p>
	<p>
		Copyright 2012 - <a href="http://jennifer.frankel.nu" target="_blank">Jennifer Frankel</a><br>
		All rights reserved
	</p>
	<p>
		HypochondriApp is a symptom tracker that lets you keep track of all kinds of symptoms (for example Fever, Coughing, Sleepiness etc.) in a simple way. Just one click adds a symptom event to your symptom history. Or you can add more detail by choosing severity level and duration of your symptom event. And you can add a comment as well. Of course you can go back and edit each symptom event at any time.
	</p>
</div>