<%
	$("#myModal").css("background", "#FFFFFF");
%>

<div>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>HypochondriApp</h3>
	<p>
		Design and engineering by Jennifer Frankel.
	</p>
	<p>
		Copyright 2013 - <a href="http://jennifer.frankel.nu" target="_blank">Jennifer Frankel</a><br>
		All rights reserved
	</p>
	<p>
		HypochondriApp is a symptom tracker that lets you keep track of all kinds of symptoms (e.g. Fever, Coughing, Head ache etc.) in a simple way. One click adds a symptom event to your symptom history, or you can add more detail by adjusting severity and duration, and even adding a comment. And, you can go back and edit or delete a symptom event at any time.
	</p>
</div>