<%
	$("#myModal").css("background", "#FFFFB2");
%>

<h3>New symptom</h3>
<form id="categorysubmitform">
	<label>Symptom name: </label><input type="text" name="name" required placeholder="e.g. 'Head ache' or 'Fatigue'" maxlength="20"><br/>
	<label>Unit: </label><input type="text" name="unit" required placeholder="e.g. 'deg C' or 'on scale of 1-10'" maxlength="20"><br/>
	<div class="rangeValues">
		<p>Range values:</p>
		<span>Min: <input type="number" step="any" name="rangeMin" required placeholder="1">
			Max: <input type="number" step="any" name="rangeMax" required placeholder="45"></span><br/>
		Unit step: <input type="number" step="any" name="stepSize" required placeholder="0.1"><br/>
	</div>
	<input type="submit" class="btn btn-primary pull-right">
	<button type="button" class="btn pull-left" data-dismiss="modal">Cancel</button>
</form>
<div id="categories">
</div>