<h3>New category</h3>
<form id="categorysubmitform" action="#categories">
	<label>Symptom name: </label><input type="text" name="name" required><br/>
	<label>Unit: </label><input type="text" name="unit" value="severity" required><br/>
	<label>Range Min value: </label><input type="number" step="any" name="rangeMin" required><br/>
	<label>Range Max value: </label><input type="number" step="any" name="rangeMax" required><br/>
	<label>Unit step value: </label><input type="number" step="any" name="stepSize" required><br/>
	<input type="submit">
</form>
<div id="categories">
</div>