<%
	var hasCategory = !_.isEmpty(category);
	var hasSymptom = !_.isEmpty(symptom);
	var isAddNew = !isEdit;
	if (isEdit && hasSymptom) {
		if (Math.floor(symptom.duration / 3600) > 0) {
			var sliderVal = (symptom.duration / 3600) * (301/24) + 599;
			console.log('in Template: slider: '+ sliderVal + ' and secondsVal: ' + symptom.duration);
		}
		else if (Math.floor(symptom.duration / 60) > 0) {
			var sliderVal = (symptom.duration / 60) * (301/59) + 295;
		}
		else {
			var sliderVal = symptom.duration * (299/59);
		}
	}
	var readyToRender =  hasCategory && (hasSymptom || isAddNew);
	if (readyToRender) {
%>
	<h3><%= isEdit ? 'Edit' : 'Add' %> <%= category.name %> event</h3>
	
	<form id="symptomsubmitform" action="#categories/<%=category.name%>">
		<label for="date">Date & Time: </label>
			<input type="date" name="date" value="<%= symptom.date ? moment(symptom.date.iso).format('YYYY-MM-DD') : moment().format('YYYY-MM-DD') %>"/>
			<input type="time" name="time" value="<%= symptom.date ? moment(symptom.date.iso).format('HH:mm') : moment().format('HH:mm') %>" />
			
		Value: <span id="severityVal"></span><%= category.unit %><br/>
			<input type="range" name="severity" 
				min="<%= category.rangeMin %>" 
				max="<%= category.rangeMax %>" 
				step="<%= category.stepSize %>"
				value="<%= symptom.severity ? symptom.severity : category.rangeDefault %>"/>
				<br/>

		Duration: <span id="human"></span><br/>
			<input id="duration" type="range" name="duration" 
			min="1" max="900" 
			value="<%= symptom.duration ? sliderVal : 450 %>"/>
<% console.log(sliderVal); %>
		<br/>
		Comment:<br/>
			<input type="text" name="comment" value="<%= symptom.comment %>"/><br/>
		<input type="submit" class="btn btn-primary">
		<button type="button" class="btn pull-right close" data-dismiss="modal">Cancel</button>
	</form>
<% } else { %>
	Loading&hellip;
<% } %>