<%
	var hasCategory = !_.isEmpty(category);
	var hasSymptom = !_.isEmpty(symptom);
	var isAddNew = !isEdit;

	if (isEdit) {
		$("#myModal").css("background", "#B8E627");
	} else {
		$("#myModal").css("background", "#99CCFF");
	}
	var readyToRender =  hasCategory && (hasSymptom || isAddNew);
	if (readyToRender) {
%>
	<h3><%= isEdit ? 'Edit' : 'Add' %> <%= category.name %> event</h3>
	
	<form id="symptomsubmitform" action="#categories/<%=category.name%>">
		<label for="date">Date & Time: </label>
			<input type="date" name="date" value="<%= symptom.date ? moment(symptom.date.iso).format('YYYY-MM-DD') : moment().format('YYYY-MM-DD') %>"/>
			<input type="time" name="time" value="<%= symptom.date ? moment(symptom.date.iso).format('HH:mm') : moment().format('HH:mm') %>" /><br/>
			
		Value: <span id="severityVal"></span><%= category.unit %><br/>
			<input type="range" name="severity" 
				min="<%= category.rangeMin %>" 
				max="<%= category.rangeMax %>" 
				step="<%= category.stepSize %>"
				value="<%= symptom.severity ? symptom.severity : category.rangeDefault %>"/>
				<br/>

		Duration: <span id="human"></span><br/>
			<input id="duration" type="range" name="duration" 
			min="1" max="878" 
			value="<%= sliderValue %>"/>
		<br/>
		Comment:<br/>
			<input type="text" name="comment" value="<%= symptom.comment %>"/><br/>
		<div class="pull-left">
			<button type="button" class="btn" data-dismiss="modal">Cancel</button>
			<% if (isEdit) { %>
				<button type="button" class="delete btn btn-danger">Delete</button>
			<% } %>
		</div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary"><%= isEdit ? 'Save' : 'Add' %></button>
		</div>
	</form>
<% } else { %>
	Loading&hellip;
<% } %>