<div class="aboutText">
	<h4>What kind of app is this?</h4>
	<p>
		HypochondriApp is a symptom tracker. It lets you keep track of your symptoms ("Fever", "Mood", "Blood sugar", "Head ache" or whatever you like), so you have all the data in one place when you need it (perhaps at the doctor's office).
	</p>
	<h4>Why is there a "+" next to each symptom name in the symptom list?</h4>
	<p>
		The "+" is a link to the add-an-event-to-the-symptom-history-page, so if you click it you go directly there. If you instead click the name of the symptom, you go to the symptom history list.
	</p>
	<h4>How do I look at the graph?</h4>
	<p>
		When you are at the history page of a specific symptom (showing the list of events), turn the phone sideways (to landscape view) to look at the graph of that symptom's history. It shows the severity (y-axis) as a function of time (x-axis).
	</p>
	<h4>What if I need to keep track of the same symptom for two different people?</h4>
	<p>
		You could create one symptom called "Anna's fever" and one called "Sara's fever", thereby keeping them separate. You can not simply create two identicel "Fever" symptoms though, the names of the two symptoms need to differ from each other.
	</p>
	<h4>How do I provide feedback so you can make the app better?</h4>
	<p>
		Go to the <a href="#settings/feedback">Feedback page</a> (under "Settings") and send us your ideas. Your feedback is much appreciated!
	</p>
	<h4>I think the list of units (to choose from when creating a new symptom) is incomplete. What now?</h4>
	<p>
		Go to the <a href="#settings/feedback">Feedback page</a> (under "Settings") and tell us which units you would like to see in the list.
	</p>
	<div class="listEnd"></div>
</div>