<div class="aboutText">
	<span><img class="displayed" src="img/icon-57.png" class="img-rounded"/></span>
	<p>Design and engineering by <br/>Jennifer Frankel.</p>
	<p>Copyright &copy; 2013 - <a href="http://jennifer.frankel.nu" target="_blank">Jennifer Frankel</a><br>
		All rights reserved.
	</p>
	<p>
		HypochondriApp is a symptom tracker that lets you keep track of all kinds of symptoms (e.g. Fever, Coughing, Head ache etc.) in a simple way. Add or edit symptom events with just one click. And customize the symptom list to fit your needs.
	</p>
	<hr/>
	<p>
		You are signed in as: <strong><%= username %></strong>
	</p>
	<p>
		<a class="btn" type="button" href="#logout"><strong>Log out</strong></a>
	</p>
</div>