<div class="aboutText">
	<p><strong>Version 0.1</strong><br/>
		January 16, 2013
	</p>
	<p>
		The first Beta of symptom tracker HypochondriApp is here! Try it out and <a href="#settings/feedback">let us know</a> what you think.
	</p>
	<ul>
		<li>HypochondriApp currently only supports iPhones, and has been tested with iOS 5 & 6</li>
		<li>Features: Create symptoms, add/edit symptom history events, and view symptom history in graph form (landscape view).</li>
		<li>Known issue: Wonky scrolling.</li>
	</ul>
	<div class="listEnd"></div>
</div>