<div class="editPage" id="resetPassword">	
	<form class="resetPassword-form">
		<h3 class=".modal-title">Reset password</h3>
		<p>
			Provide the email address associated with your HypochondriApp user account, and a password-reset-email will be sent to you, enabling you to securely reset your password.
		</p>
		<input id="reset-email" type="email" name="email" required placeholder="Email address">
		<div class="pull-left">
			<button type="button" class="btn cancel" data-dismiss="modal">Cancel</button>
		</div>
		<div class="pull-right">
			<button class="btn btn-primary">Submit</button>
		</div>
		<div style="clear:both"></div>
	</form>
</div>