<div>
	<ul class="list inset" id="settingsList">
		<li>
			<a href="#settings/releasenotes">
				Release notes
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Help
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Send Feedback
  				<span class="chevron"></span>
			</a>
		</li>
		<li class="list-divider">Future features (not available yet):</li>
		<li>
			<a href="">
				Export data
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Edit symptom list
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Edit login info
  				<span class="chevron"></span>
			</a>
		</li>
	</ul>
	<div id="listEnd"></div>
</div>