<div>
	<ul class="list" id="settingsList">
		<li>
			<a href="">
				Export data
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Edit symptom list
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Edit login info
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Send Feedback
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Release notes
  				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a href="">
				Help
  				<span class="chevron"></span>
			</a>
		</li>
	</ul>
</div>