<ul class="list" id="symptomList">
	<%	_.each(symptoms,function(symptom){ %>
	
	<li class="symptom" data-symptom-id="<%=symptom.objectId%>">
		<div class="severity"><%= symptom.severity %> <%= category.unit %></div>
		<div class="date"><%= moment(symptom.date.iso).format('MMM DD, HH:mm') %></div>
		<% if (symptom.comment) { %>
		<div class="comment">&ldquo;<%= symptom.comment %>&rdquo;</div>
		<% } %>
	</li>

	<%	}); %>
	<li>
		<p  class="new-text">Click the 'New' button to add a new event to the symptom history.</p>
	</li>
</ul>
