<a class="btn pull-right" id="addSymptomButton">Add new</a>
<h3><%= category ? category.name : '' %> history</h3>
<%	_.each(symptoms,function(symptom){ %>
<div class="symptom" data-symptom-id="<%=symptom.objectId%>">
	<div class="severity"><%= symptom.severity %> <span class="unit"> <%= category.unit %></span></div>
	
	<div class="date"><%= moment(symptom.date.iso).format('MMM DD, HH:mm') %></div>
	<div class="comment"><%= symptom.comment ? '&ldquo;'+symptom.comment+'&rdquo;' : ''  %></div>
</div>
<%	}); %>
<div>
	<% if (category){ %>
		<a href="#categories/<%=category.name%>/symptomGraph">Symptom graph</a>
	<%};%>
</div>