<a class="btn pull-right" id="addSymptomButton">Add new</a>
<h3><%= category ? category.name : '' %> history</h3>
<%
	if(symptoms.length < 1){
%>
		<p>No <%= category ? category.name : 'symptom' %> events recorded yet</p>
<%
	};
%>
<%	_.each(symptoms,function(symptom){ %>
<div class="symptom" data-symptom-id="<%=symptom.objectId%>">
	<div class="severity"><%= symptom.severity %> <span class="unit"> <%= category.unit %></span></div>
	
	<div class="date"><%= moment(symptom.date.iso).format('MMM DD, HH:mm') %></div>
<%
	var dotdot = '';
	if (symptom.comment.length > 25) {
		dotdot = dotdot + '...';
	};
%>	
	<div class="comment"><%= symptom.comment ? '&ldquo;'+symptom.comment.substring(0,25)+dotdot+'&rdquo;' : ''  %></div>
</div>
<%	}); %>
<div>
	<% if (category){ %>
		<a href="#categories/<%=category.name%>/symptomGraph">Symptom graph</a>
	<%};%>
</div>